numpy<2.0
transformers>=4.57.3
accelerate>=1.4.0
torch
torchvision
torchaudio
bitsandbytes>=0.46.0
diffusers>=0.32.2
faiss-gpu-cu12
pandas==2.2.3
python-dotenv==1.0.1
sentencepiece==0.2.0
protobuf==5.29.3
datasets==3.3.0
scikit-learn
matplotlib
fschat==0.2.36
peft>=0.15.2
hf_xet>=1.1.7
huggingface-hub[cli]
fastapi
uvicorn
python-multipart
Pillow
openai==1.63.0
black==25.1.0
pip-autoremove==0.10.0