numpy<2.0
torch
torchvision
torchaudio
transformers==4.51.3
accelerate==1.4.0
black==25.1.0
pandas==2.2.3
pip-autoremove==0.10.0
sentencepiece==0.2.0
protobuf==5.29.3
openai==1.63.0
python-dotenv==1.0.1
datasets==3.3.0
faiss-gpu==1.7.2
scikit-learn
diffusers==0.32.2
matplotlib
fschat==0.2.36
vllm==0.8.2
bitsandbytes==0.46.0
peft==0.15.2
hf_xet==1.1.7